.ll-skin-nigran {
	font-size: 90%;
}

.ll-skin-nigran .ui-widget {
	background: white;
	border: none;
    /*
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	box-shadow: 0 1px 3px #252525;
    */
}

.ll-skin-nigran .ui-datepicker {
	padding: 0;
}

.ll-skin-nigran .ui-datepicker-header {
	border: none;
	background: transparent;
	font-weight: normal;
	font-size: 11px;
	text-transform: uppercase;
}

.ll-skin-nigran .ui-datepicker-header .ui-state-hover {
	background: transparent;
	border-color: transparent;
	cursor: pointer;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-title {
	margin-bottom: 0.5em;
    width: 100%;
    text-align: center;
   border-bottom: 3px solid #6592cf;
   color: black;
}
.ll-skin-nigran .ui-datepicker .ui-datepicker-title span {
    font-size: 2em;
    word-wrap: normal;
}

.content-sidebar .widget table.ui-datepicker-calendar {
   border-bottom: 3px solid #6592cf;
   margin-bottom: 5px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover,
.ll-skin-nigran .ui-datepicker .ui-datepicker-next,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
	top: 1.7em;
	border:none;
}
.ll-skin-nigran .ui-datepicker .ui-datepicker-next,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev {
    display: block;
    float: left;
    width: 50%;
}
.ll-skin-nigran .ui-datepicker .ui-datepicker-next {
    text-align: right;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover {
	left: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover {
	right: 2px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next span,
.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-image: url(images/ui-icons_ffffff_256x240.png);
	background-position: -32px -32px;
	margin-top: 0;
	top: 0;
	font-weight: normal;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev span {
	background-position: -96px -32px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-prev-hover span {
	background-position: -96px -48px;
}

.ll-skin-nigran .ui-datepicker .ui-datepicker-next-hover span {
	background-position: -32px -48px;
}

.ll-skin-nigran .ui-datepicker table {
	margin: 0;
    border: none;
    padding-bottom: 10px;
}

.ll-skin-nigran .ui-datepicker th {
	padding: 1em 0;
	color: #3864a0;
	font-size: 1em;
	font-weight: normal;
	text-transform: uppercase;
	border: none;
    text-align: center;
}

.ll-skin-nigran .ui-datepicker td {
	border: none;
	padding: 0;
    text-align: center;
    vertical-align: center;
    padding: 3px 0px; 
}

.ll-skin-nigran td .ui-state-default {
	background: transparent;
	border: none;
	text-align: center;
    margin-top: 5px;	
	font-weight: normal;
	font-size: 1em;
    width: 100%;
    color: #aaa; 
}
.ll-skin-nigran .ui-datepicker-buttonpane {
    display: none;
}
.ll-skin-nigran td.status-1 {
    background-color: #6592cf;
}
.ll-skin-nigran td.status-1 a {
    color: white;
    font-weight: bold;
}
span.legend.status-1 {
   background-color: #6592cf;
   color: white;
   font-weight: bold;
   display: block;
   min-width: 25px;
   float: left;
   text-align: center;
   margin-right: 10px;
}
.ll-skin-nigran td.status-2 {
    background-color: black;
}
.ll-skin-nigran td.status-2 a {
    color: red;
    font-weight: bold;
}
span.legend.status-2 {
   background-color: black;
   color: red;
   font-weight: bold;
   display: block;
   min-width: 25px;
   float: left;
   text-align: center;
   margin-right: 10px;
}

.ll-skin-nigran td.ui-datepicker-current-day a { color: #FF6600; font-weight: bold; }

